<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @m_test.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @m_test.desc %>
</p>

<%= link_to 'Edit', edit_m_test_path(@m_test) %> |
<%= link_to 'Back', m_tests_path %>
